@{
    ViewBag.Title = "About Us";
}

<div class="sectionTitle">@ViewBag.Title</div>

<div class="panel">
    <div class="panel-body" style="padding:20px;">
        <h3>
        Mcave LLC developed and built this Virtual Man Cave in order to fill a need in the market.  Men have needed a place to be themselves and do activities that they like to do, in a safe environment where guys can be guys.  While we cannot prohibit women from using this website, it is widely encouraged that men be the only users of the Virtual Man Cave.<br />
                <br />
        Mcave provides a social networking experience like no other, and has coined the term “Social Share Commerce”.  Social Share Commerce is a social networking environment that feeds into an e-commerce database and practices a revenue share program.  While we encourage you to read the Terms and Conditions for more information, at inception of this website, we planned on pooling 5% of Mcave LLC's annual profits and splitting that profit evenly among active users of this website (see Terms and Conditions).  <br />
                <br />
        By sharing in a portion of the revenue of this website, users can be confident that there is a greater good being served by there activity online.  Someday, when each user has helped make this website successful through activity and purchases, they will see some sort of incentive for being a member.  This is a Man's virtual Real Estate because, in a sense, they own a piece of it (see Terms and Conditions).  And since they own their real estate, each man can spend their time in their Man Cave and be confident that it can feel like their own online space.  <br />
                <br />
        Our core foundation is built upon the fact that, while guys are being guys in their virtual Man Cave, they are doing right by their family and relationships.  We have believed that some men do not use social networking sites because of the underlying assumption that past relationships can re-surface and the appearance of trouble is unavoidable.  To address our concern, we decided to build in a separate log in for our partners or wives.  With this truly unique feature, she knows that we cannot change her log in information, and she can check on us anytime she wants to see our Man Cave (view of main Man Cave page only) and see who we are interacting with.  This is very similar to the main reason why our wives or partners let us build a man Cave in our garage, because she can open the door and check on us to see who we are with.<br />
                <br />
        The developers of Mcave wanted to build a place for guys to be guys; play games, fantasy sports, stocks, shop at a discount for our wives birthday, and communicate with their circle of friends.  Basically, play games with their buddies, just like guys do in their Man Cave.  And just like they do in their garage, we encourage our members to argue.  Thoughts and viewpoints can be posted in the Forum section, and through this, we can see a healthy debate form.  Our guys can argue till their hearts content, on a variety of topics, with all active members.  Perhaps we can all eventually form a healthy platform of viewpoints built on compromise, and possibly effect our communities.  After all, the anchor of the community is the husband and father.<br />
                <br />
        We have strived diligently to build an interactive environment, with a modern feel and approach, backed by real value for our members.  While some of the applications and tools are not active yet, we encourage members to participate in this environment, build their Mancave, and together, we can grow our community. 
        </h3>
    </div>
</div>