<div class="navbar navbar-fixed-top" style="height:70px;">
    <form id="frmLogin" method="post" action="~/account/login">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="~/account/login/"><img src="~/images/logo.jpg" class="logo-img" /></a>
                </div>
                <div class="col-sm-6">
                    <div style="height:30px;">
                        <div class="pull-right">
                            <input style="width:200px;" type="text" id="EmailLogin" name="Email" placeholder="email address">
                            <input style="width:200px;" type="password" name="Password" placeholder="password">
                            <button type="submit" name="btnLogin" style="white-space:nowrap;">Login</button>
                        </div>
                    </div>
                    <div style="height:15px;"><a class="forgotpassword pull-right" href="#">Forgot Password</a></div>
                </div>
            </div>
        </div>
    </form>
</div>